{% extends 'auth.html' %}
{% block title %}
Contact Us
{% endblock title %}
{% block content %}
 <h1 class="mb-4 pb-0"><span>Contact Us</span> </h1>
   {% for message in messages %}
   
    <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
  <strong></strong>{{ message }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

{% endfor %}
<form action="/contactus" method="post">{% csrf_token %}
        <div class="form-group">
         
            <input type="text" class="form-control" id="name" name='name' placeholder="Enter Your Name" required>
        </div>
        <br>
        <div class="form-group">
           
            <input type="email" class="form-control" id="email" name='email' placeholder="Enter Your Email" value="{{user.email}}" required>
        </div>
<br>
        <div class="form-group">
          
            <input type="tel" class="form-control" id="phone" name='phone' placeholder="Enter Your Phone Number">
        </div>
<br>

        <div class="form-group">
       
            <textarea class="form-control" id="desc" name='desc' rows="3"></textarea>
        </div>
        <br>
        <button type="submit" class="btn btn-success">Contact</button>
    </form>




{% block script %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    
{% endblock script %}       
{% endblock content %}
